header .head {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    min-height: 90px;
    border-color: #858e99;
}

.margin-0 {
    margin: 0 !important;
}

header .buttons {
    display: flex;
}

.btn-2 {
    color: #111111 !important;
    border-color: #111111 !important;
    border-width: 1px;
    margin: 20px 10px 0 10px !important;
    padding: 9px 33px 9px 32px !important;
    background-color: #ffffff !important;
}

header a {
    text-decoration: none;
}

section {
    box-sizing: border-box;
    display: block;
    position: relative;
    background-image: none;
}

header {
    margin: 0 10px;
    min-height: 90px;
    box-sizing: border-box;
    position: relative;
    unicode-bidi: isolate;
    border-width: 1px !important;
    border-color: #858e99;
    background-color: #ffffff
}

footer {
    min-height: 120px;
    display: block;
    position: relative;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
    background-image: none;
}

html {
    text-decoration: none;
    -webkit-locale: "ru";
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
}

.btn {
    box-sizing: border-box;
    display: table;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    align-self: flex-start;
    transition-property: background-color, color, border-color;
    border-radius: 6px 6px 6px 6px;
    line-height: 1.4;
    border-color: #77aad9;
    font-weight: 700;
    font-size: 0.9375rem;
    border-style: solid;
    margin: 29px auto 0 25px;
    padding: 8px 33px;
    border-width: 1px;
    background-color: #ffffff;
    color: #77aad9;
}

.flex-cont {
    display: flex;
    width: 100%;
    justify-content: center
}

header .cont-img {
    width: 90px;
    height: 90px;
}

header img {
    width: 90px;
    height: 90px;
}

.error-message {
  background-color: #ffe6e6;
  border: 1px solid #ff1e46;
  color: #4b4b5a;
  padding: 12px 16px;
  margin: 10px 0;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.error-message strong {
  color: #ff1e46;
}