<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Расписание</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='news.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='un.css') }}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
</head>


<body>

<header>
    <div class="head">
        <div class="buttons">
            <a href="/timetable" class="btn btn-2">Расписание</a>
            <a href="/" class="btn btn-2">Главная</a>
        </div>
        {% if not current_user.is_active %}
        <div class="buttons">
            <a href="/login" class="btn btn-2">Войти</a>
            <a href="/register" class="btn btn-2">Регистрация</a>
        </div>
        {% elif current_user.role == "admin" %}
        <a href="/panel" style="margin-right: 20px !important" class="btn btn-2">Админ панель</a>
        {% else %}
        <a href="/logout" style="margin-right: 20px !important" class="btn btn-2">Выйти из аккаунта</a>
        {% endif %}
    </div>
</header>

<div class="secta">
    <section>
        <div class="container">
            <table border="1" cellspacing="0" cellpadding="5">
                <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Название объединения по интересам</th>
                    <th>На базе, № каб.</th>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                    <th>Педагог</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Компьютерная графика и основы дизайна</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.13</td>
                    <td>9.00-9.45<br>9.50-10.35 (1)</td>
                    <td></td>
                    <td>9.00-9.45<br>9.50-10.35 (1)</td>
                    <td>16.00-16.45<br>16.50-17.35 (2)<br>11.00-11.45<br>11.50-12.35 (2)</td>
                    <td>18.00-18.45<br>18.50-19.35 (3)<br>13.00-13.45<br>13.50-14.35 (3)</td>
                    <td>16.00-16.45<br>16.50-17.35 (4)</td>
                    <td>11.00-11.45<br>11.50-12.35 (4)</td>
                    <td>Винча Екатерина Викторовна</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Цифровое искусство</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.15</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>15.00-15.45<br>15.50-16.35 (1)<br>13.00-13.45<br>13.50-14.35 (1)</td>
                    <td>17.00-17.45<br>17.50-18.35 (2)<br>15.00-15.45<br>15.50-16.35 (2)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>IT–МИР</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.15</td>
                    <td>09.00-09.45<br>09.50-10.35 (1)</td>
                    <td>09.00-09.45<br>09.50-10.35 (1)</td>
                    <td>09.00-09.45<br>09.50-10.35 (1)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Грабовский Михаил Валерьевич</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Юный ВИРПИЛ</td>
                    <td></td>
                    <td>14.25-15.10<br>15.15-16.00 (1)</td>
                    <td></td>
                    <td>14.25-15.10<br>15.15-16.00 (1)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>3D моделирование (Одаренный учащийся)</td>
                    <td></td>
                    <td>16.00-16.45<br>(Радивон Максим)</td>
                    <td>15.00-15.45<br>(Радивон Максим)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Радивон Максим</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Робототехника (на платной основе)</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.15</td>
                    <td>17.00-17.45<br>17.50-18.35 (1)</td>
                    <td>17.30-18.15<br>18.20-19.05 (2)</td>
                    <td>17.30-18.15<br>18.20-19.05 (3)</td>
                    <td>09.00-09.45<br>09.50-10.35 (4)</td>
                    <td></td>
                    <td>11.00-11.45<br>11.50-12.35 (5)</td>
                    <td>13.00-13.45<br>13.50-14.35 (6)</td>
                    <td>Дубицкая Марина Петровна</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Робототехника EV3 (на платной основе)</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.14</td>
                    <td></td>
                    <td></td>
                    <td>09.00-09.45<br>09.55-10.40 (2)</td>
                    <td>09.00-09.45<br>09.55-10.40 (2)</td>
                    <td></td>
                    <td>16.00-16.45<br>16.55-17.40 (1)</td>
                    <td>16.00-16.45<br>16.55-17.40 (1)</td>
                    <td>Дашкевич Марта Витальевна</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Программирование Scratch</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.14</td>
                    <td></td>
                    <td>09.00-09.45<br>09.55-10.40 (1)</td>
                    <td>09.00-09.45<br>09.55-10.40 (1)</td>
                    <td>09.00-09.45<br>09.55-10.40 (3)</td>
                    <td>15.00-15.45<br>15.55-16.40 (3)</td>
                    <td>18.00-18.45<br>18.55-19.40 (2)</td>
                    <td>18.00-18.45<br>18.55-19.40 (2)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>СхемотехникУм</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.14</td>
                    <td></td>
                    <td></td>
                    <td>11.00-11.45<br>11.55-12.40 (1)</td>
                    <td>11.00-11.45<br>11.55-12.40 (1)</td>
                    <td>13.00-13.45<br>13.55-14.40 (2)</td>
                    <td>13.00-13.45<br>13.55-14.40 (2)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Технологии в экономике</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.15</td>
                    <td></td>
                    <td>16.00-16.45<br>16.55-17.40 (1)</td>
                    <td></td>
                    <td>17.00-17.45<br>17.55-18.40 (1)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <td>11</td>
                <td>Математика с компьютером</td>
                <td>Лидский РЦТДиМ, ул. Советская, 40, каб.15</td>
                <td></td>
                <td></td>
                <td>09.00-09.45<br>09.50-10.35 (2)</td>
                <td></td>
                <td></td>
                <td>15.00-15.45<br>15.50-16.35 (1)</td>
                <td></td>
                <td>Зубель Анастасия Станиславовна</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Программирование Scratch</td>
                    <td>Обучение на дому, ул. Республиканская 19-78</td>
                    <td>15.10–15.55 (Анцух Дарья)</td>
                    <td></td>
                    <td>09.10–09.55 (Анцух Дарья)</td>
                    <td>17.30–18.15 (Анцух Дарья)<br>16.05–16.50 (Анцух Мария)</td>
                    <td>10.05–10.50 (Анцух Мария)</td>
                    <td>18.25–19.10 (Анцух Мария)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Программирование Scratch</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.14</td>
                    <td>09.00-09.45<br>09.50-10.35 (1)</td>
                    <td>09.00-09.45<br>09.50-10.35 (1)</td>
                    <td></td>
                    <td></td>
                    <td>15.00-15.45<br>15.50-16.35 (2)</td>
                    <td>15.00-15.45<br>15.50-16.35 (2)</td>
                    <td></td>
                    <td>Куди Ольга Ивановна</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Программирование Scratch</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.13</td>
                    <td>09.00-09.45<br>09.50-10.35 (1)</td>
                    <td></td>
                    <td></td>
                    <td>16.00-16.45<br>16.50-17.35 (2)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Комар Марина Антоновна</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Юный блогер</td>
                    <td>Обучение на дому, Ёдки, ул. Школьная 2-18</td>
                    <td>18.00-18.45 (Малец Ксения)</td>
                    <td>18.00-18.45 (Малец Ксения)</td>
                    <td>18.00-18.45 (Малец Ксения)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Каратай Оксана Васильевна</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Программирование в среде TRIK (дистанционно)</td>
                    <td>Лидский РЦТДиМ, ул. Советская 40</td>
                    <td></td>
                    <td></td>
                    <td>11.00-11.45<br>11.50-12.35 (1)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Янковская Анна Владимировна</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Python</td>
                    <td>Лидский РЦТДиМ, ул. Советская 40, каб.13</td>
                    <td></td>
                    <td>09.00-09.45<br>09.50-10.35 (2)</td>
                    <td>09.00-09.45<br>09.50-10.35 (2)</td>
                    <td></td>
                    <td>16.00-16.45<br>16.50-17.35 (3)</td>
                    <td></td>
                    <td>16.00-16.45<br>16.50-17.35 (1)</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="11" style="text-align:center; font-weight:bold;">Педагоги-совместители</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>САПР</td>
                    <td>Лидский РЦТДиМ, ул. Советская, 40, каб.13</td>
                    <td></td>
                    <td>18.00-18.45<br>18.50-19.35 (1)</td>
                    <td></td>
                    <td></td>
                    <td>09.00-09.45<br>09.50-10.35 (1)</td>
                    <td></td>
                    <td></td>
                    <td>Купрейчик Вадим Владимирович</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<footer></footer>

</body>
</html>